ENVIRONMENT='production'

# Used by the Telegram bot API instance
TELEGRAM_API_ID='1'
TELEGRAM_API_HASH=''
TELEGRAM_VERBOSITY=0

LOCAL_TELEGRAM_API_BASE_URL='http://telegram-bot-api:8081'

BOT_TOKEN='7463334165:test'
BOT_URL='https://t.me/playinnowbot'
BOT_CACHE_CHAT_ID='1490827215'
BOT_DEV_CHAT_ID='1490827215'

WEB_SERVER_PUBLIC_ENDPOINT='http://127.0.0.1:1337/'

# Preferred udownloader (see readme) address in Docker. If unresolved, fallback to local address
UDOWNLOADER_DOCKER_BASE_URL='http://udownloader:1337/'
UDOWNLOADER_BASE_URL='http://127.0.0.1:41337/'

STATE_SECRET='1'

SPOTIFY_CLIENT_ID='1'
SPOTIFY_SECRET='1'

LASTFM_API_KEY='1'
LASTFM_SHARED_SECRET='1'
# LASTFM_SEARCH_PROXY='http://127.0.0.1:8080'

APPLE_SECRET_KEY=''
APPLE_KEY_ID=''
APPLE_TEAM_ID=''

# Optional proxies for Yandex Music API and Ynison gRPC bridge
# Example: 'socks5://user:pass@host:1080' or 'http://host:port'
YANDEX_PROXY=''
YANDEX_HTTP_PROXY=''
YANDEX_GRPC_PROXY_DOCKER_HOST='nowplaying-grpc'
YANDEX_GRPC_PROXY_HOST='127.0.0.1'
YANDEX_GRPC_PROXY_PORT='50051'

# Preferred PostgreSQL address in Docker. If unresolved, fallback to local address
POSTGRES_DOCKER_ADDRESS='postgres'
POSTGRES_ADDRESS='127.0.0.1'
POSTGRES_PORT='5432'
POSTGRES_DB='test'
POSTGRES_USER='test'
POSTGRES_PASSWORD='test'

# Used by external auth frontend (see related repositories in README)
YANDEX_OAUTH_CLIENT_ID=''
